
/**
* -------------
* Global Styles
* -------------
*/

body {
  /* Default font family and font color */
  font-family: 'poppins',sans-serif;
  display: block;
  margin: auto;
}
 

p, li, textarea, label, input, select {
  /* Default font size and line height */
}
.header {
  text-align: center;
}

.title {
  font-size: 89px;
  color: white;
  text-align: center;
  background-color: #fcce00;
  margin-top: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.section-title {
  Font-size: 38px;
  color: white;
  text-align: center; 
  background-color: #ff6b00;
  margin-top: 0;
  margin-bottom: 8px;
  /* Default font, size, and margins */
}

.blocred {
  /* Default font, size, and margins */
 height: 32px;
  background-color: #e02020;
  margin-bottom: 8px;

}

.blocpurple {
  /* Default font, size, and margins */
  height: 16px;
  display: block;
  background-color:  #b620e0;
  margin-bottom: 8px;
 
}

.blocblue {
  /* Default font, size, and margins */
  display: block;
  margin-bottom: 8px;
}

.title1 {
  font-size: 40px;
  color: black;
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 24px;
  color : black;
  text-align: left;
}
.bloc_texte {
  width: 50%;
  padding-left: 50px;
    padding-right: 32px;
}
.texte {
  font-size: 16px;
  text-align: justify;
}
.blocjaune {
  background-image: url(../img/bg-yellow.png);
  background-position: left bottom;
  background-size: auto 100%;
  width: 720px;

display : flex;
justify-content: flex-end;
align-items: flex-end;
}
@media screen and (max-width:1200px){
  .blocjaune, .blocorange {
    width:100%; 
    height:100%;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 100%;
  }
}
@media screen and (max-width:1200px){
  .bloc_texte{
    width:100%; 
    height:100%;
  }
}

@media screen and (max-width:1200px){
  .texte2, .texte21, .texte22{
    width:100%; 
  }
}
@media screen and (max-width:840px){
  .texte2, .texte21, .texte22{
    width:100%; 
  }
}

@media screen and (max-width:740px){
  .bloc_texte_img{
    flex-direction: column;
  }
}
@media screen and (max-width:1200px){
  .bloc_texte_img{
    flex-direction: column;
  }
}
@media screen and (max-width:740px){
  .bloc_texte_img2{
    flex-direction: column;
    padding-left: 0px;
  }
}
@media screen and (max-width:740px){
  .bloc_texte_img3{
    flex-direction: column;
  }
}
@media screen and (max-width:740px){
  .bloc_texte_img4{
    flex-direction: column;
  }
}
@media screen and (max-width:740px){
  .bloc_texte_img5{
    flex-direction: column;
  }
}
@media screen and (max-width:1200px){
  .texte{
    font-size:14px;
  }
}

@media screen and (max-width:840px){
  .texte{
    font-size:10px;
  }
}

@media screen and (max-width:1200px){
  .title{
    font-size:38px;
  }
}

@media screen and (max-width:840px){
  .title{
    font-size:32px;
  }
}

@media screen and (max-width:1200px){
  .blocred{
    height: 18px;
  }
}

@media screen and (max-width:840px){
  .blocred{
    height: 16px;
  }
}
@media screen and (max-width:1200px){
  .section-title{
    font-size:28px;
  }
}

@media screen and (max-width:840px){
  .section-title{
    font-size:20px;
  }
}
@media screen and (max-width:1200px){
  .title1{
    font-size:18px;
  }
}

@media screen and (max-width:840px){
  .title1{
    font-size:14px;
  }
}


.blocimage img {
  display: block;
  max-width: 60%;
  mix-blend-mode: darken;
  margin-right: auto;
  margin-left: auto;
}
.bloc_texte_img {
  display: flex;
  padding-bottom: 30px;
  
}

.button1 {
  border: solid 4px #fcce00;
  border-radius: 15px;
  display: block;
  max-width: 200px;
  font-style : normal;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color:#fcce00;
  padding : 10px 32px;
}
.subtitle2 {
  font-size: 24px;
  color : black;
  text-align: left;
}
.bloc_texte2 { 
  padding-left: 50px;
    padding-right: 32px;
  }
  .texte2 {
    font-size: 16px;
    text-align: justify;
}
.texte21{
  font-size: 16px;
    text-align: justify;
}
.texte22{
  font-size: 16px;
    text-align: justify;
}

.blocorange {
  background-image: url(../img/bg-orange.png);
  background-position: left bottom;
  background-size: auto 100%;
  width: 950px;
    
  display : flex;
  justify-content: flex-end;
  align-items: flex-end;
  }
.bloc_texte_img2 {
  display: flex;
  padding-left: 50px;
  padding-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}
  
  .button2 {
    border: solid 4px #ff6b00 ;
    border-radius: 15px;
    display: block;
    max-width: 200px;
    font-style : normal;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color:#ff6b00;
    padding : 10px 32px;
  }
  .subtitle3 {
    font-size: 24px;
    color : white;
    text-align: left;
  }
  .bloc_texte3 {
    padding-left: 50px;
    padding-right: 32px;
    padding-top: 40px
  }
  .texte3 {
    font-size: 16px;
    text-align: justify;
    color: white;
  }
  
.bloc_texte_img3 {
  display: flex;
    background-image: url(../img/bg-red.png);
    background-position: left bottom;
    background-size: auto 100%;
    width: auto;

  justify-content: flex-end;
  margin-right: auto;
  margin-left: auto;
}

.button3 {
  border: solid 4px white ;
  border-radius: 15px;
  display: block;
  max-width: 200px;
  font-style : normal;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color:white;
  padding : 10px 32px;
}
  .bloc_texte_img4 {
    display: flex;
      background-image: url(../img/bg-violet.png) ;
      background-position: left bottom;
      background-size: auto 100%;
      width: auto;
  
    justify-content: flex-end;
    margin-right: auto;
    margin-left: auto;
  }
  
  .bloc_texte_img5 {
    display: flex;
      background-image: url(../img/bg-blue.png);
      background-position: left bottom;
      background-size: auto 100%;
      width: auto;
  
    justify-content: flex-end;
    margin-right: auto;
    margin-left: auto;
  }
.fondimage img {
  display: block;
  mix-blend-mode: darken;
  max-width: 80%;
}
@media screen and (max-width:1200px){
  .fondimage{
    max-width: 100%;
  }
}

@media screen and (max-width:840px){
  .fondimage{
    max-width: 100%;
  }
}
.title2 {
  font-size: 40px;
  color: black;
  text-align: center;
  margin-top: 300px;
  margin-bottom: 8px;
}

.blockimages img {
    justify-content: space-between;
    max-width: 1000px;
    margin-left: 20px;
    margin-right: 17px;
    margin-bottom: 30PX;
}
.grille {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-columns: repeat(auto-fill,minmax 320px);
grid-gap: 32px;
padding: 20px;
}

@media screen and (max-width:1200px){
  .grille{
    grid-template-columns:1fr 1fr 1fr;
  }

}

@media screen and (max-width:840px){
  .grille{
    grid-template-columns:1fr 1fr;
  }
}

@media screen and (max-width:540px){
  .grille{
    grid-template-columns:1fr;
  }
}

.title3{
  font-size: 40px;
  color : white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;
  }
.img_content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 81);
  border-radius: 12px;
  padding: 16px;
  opacity: 0;
  transition: opacity 200ms;
}
.jeu1:hover .img_content{
  opacity: 1;
}
.img_content > * {
  transform: translateY(30px);
  transition: transform 200ms;
}
.jeu1:hover .img_content>*{
  transform: translateY(10px)
}
.grillefondnoir{
background-color: #231f20;
}

.img_categorie{
  margin-top : 0px;
text-align: center;
font-size: 14px;
}
.img_title1{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 32px;
  color: #fcce00;
  font-weight: bold;
}
.img_title2{
  text-align: center;
  font-size: 32px;
  color: #ff6b00;
  font-weight: bold;
}

.img_description{
text-align: center;
font-size: 14px;
}

.jeu1, .jeu2 {
  position: relative;
  max-width: 320px;
  margin: auto;
  color: white;
  margin-bottom: 32px;
}

.form-row{
  color: white;
  font-size: 20px;
  text-align: center;
}

.bloccontact {
  display: flex;
  background-position: center;
  background-size: auto 100%;
  width: auto;
  margin-right: 450px;
  margin-left: 472px;
justify-content: space-between;
  border: solid 4px white ;
  border-radius: 15px; 
  padding:20px;
}
.message{
  height: 150px;
  resize: vertical;
  border-radius: 12px;
}
.subject, .email, .name {
  border-radius: 12px;
}
.blocgrey {
  /* Default font, size, and margins */
  height: 16px;
  display: block;
  background-color:  #231f20;
}
a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/