
/**
* -------------
* Global Styles
* -------------
*/

body {
  /* Default font family and font color */
  font-family: 'poppins',sans-serif;
}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}

.title {
  font-size: 89px;
  color: white;
  text-align: center;
  background-color: #fcce00;
  margin-top: 0;
  margin-bottom: 8px;
}

.section-title {
  Font-size: 38px;
  color: white;
  text-align: center; 
  background-color: #ff6b00;
  margin-top: 0;
  margin-bottom: 8px;
  /* Default font, size, and margins */
}

.blocred {
  /* Default font, size, and margins */
 height: 32px;
  background-color: #e02020;
  margin-bottom: 8px;

}

.blocpurple {
  /* Default font, size, and margins */
  height: 16px;
  display: block;
  background-color:  #b620e0;
  margin-bottom: 8px;
 
}

.blocblue {
  /* Default font, size, and margins */
  height: 8px;
  display: block;
  background-color: #6236ff;
  margin-bottom: 8px;
 
}

.title1 {
  font-size: 40px;
  color: black;
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 24px;
  color : black;
  text-align: left;
}
.bloc_texte {
  width: 50%;
  padding-left: 50px;
    padding-right: 32px;
}
.texte {
  font-size: 16px;
  text-align: justify;
}
.blocjaune {
  background-image: url(../img/bg-yellow.png);
  background-position: left bottom;
  background-size: auto 100%;

display : flex;
justify-content: flex-end;
align-items: flex-end;
}
.blocimage img {
  display: block;
  max-width: 100%;
  mix-blend-mode: darken;
}
.bloc_texte_img {
  display: flex;
  padding-bottom: 30px;
}

.button1 {
  border: solid 4px #fcce00;
  border-radius: 15px;
  display: block;
  max-width: 200px;
  font-style : normal;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color:#fcce00;
  padding : 10px 32px;
}
.subtitle2 {
  font-size: 24px;
  color : black;
  text-align: left;
}
.bloc_texte2 { 
  width: 50%;
  padding-left: 50px;
    padding-right: 32px;
  }
  .texte2 {
    font-size: 16px;
    text-align: justify;
  }

  .blocorange {
    background-image: url(../img/bg-orange.png);
    background-position: left bottom;
    background-size: auto 100%;
    width: auto;
    
  display : flex;
  justify-content: flex-end;
  align-items: flex-end;
  }
  .bloc_texte_img2 {
    display: flex;
    padding-left: 50px;
    padding-bottom: 30px;
  }
  
  .button2 {
    border: solid 4px #ff6b00 ;
    border-radius: 15px;
    display: block;
    max-width: 200px;
    font-style : normal;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color:#ff6b00;
    padding : 10px 32px;
  }
  .subtitle3 {
    font-size: 24px;
    color : black;
    text-align: left;
  }
  .bloc_texte3 {
    width: 50%;
    padding-left: 50px;
    padding-right: 32px;
    padding-top: 40px
  }
  .texte3 {
    font-size: 16px;
    text-align: justify;
  }
  
.bloc_texte_img3 {
  display: flex;
    background-image: url(../img/bg-red.png);
    background-position: left bottom;
    background-size: auto 100%;
    width: auto;

  justify-content: flex-end;
  
}

.button3 {
  border: solid 4px white ;
  border-radius: 15px;
  display: block;
  max-width: 200px;
  font-style : normal;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color:white;
  padding : 10px 32px;
}
  .bloc_texte_img4 {
    display: flex;
      background-image: url(../img/bg-violet.png) ;
      background-position: left bottom;
      background-size: auto 100%;
      width: auto;
  
    justify-content: flex-end;
   
  }
  
  .bloc_texte_img5 {
    display: flex;
      background-image: url(../img/bg-blue.png);
      background-position: left bottom;
      background-size: auto 100%;
      width: auto;
  
    justify-content: flex-end;
    
  }
.fondimage img {
  display: block;
  max-width: 80%;
  mix-blend-mode: darken;
}
.title2 {
  font-size: 40px;
  color: black;
  text-align: center;
  margin-top: 300px;
  margin-bottom: 8px;
}

.blockimages img {
    justify-content: space-between;
    max-width: 250px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30PX;
}

.fondnoir {
background-color: #231f20;
display: block;
}




a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/